<%= form_for @user, url: create_session_path do |u| %>
<div id="login">
<h1>Get yo Credentials Inputted!</h1>
<% flash.each do |key,value| %>
  <div class="<%= key %>"><%= value%></div>
  <%end%>



  <%= u.label :email %>
  <br>
  <%= u.email_field :email %>

  <br>

  <%= u.label :password %>
  <br>
  <%= u.password_field :password %>

  <br>
  <br>


  <%= u.submit "Login", "class" => "btn btn-success btn"  %>

  <%end%>




</div>


<!-- <form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="InputEmail">Email address</label>
    <input type="email" placeholder="Enter email">
  </div>
  <br>
  <div class="form-group">
    <label class="sr-only" for="InputPassword">Password</label>
    <input type="password" placeholder="Password">
  </div>
  </form>
 -->
