<h3>Edit Profile</h3>
<%= form_for @user do |g|  %>
<form>

  <fieldset class="form-group">
    <%= g.label :name %> <br>
    <%= g.text_field :name, "placeholder" => "Name", :size => 60 %>
  </fieldset>

  <fieldset class="form-group">
    <%= g.label :age %> <br>
    <%= g.text_field :age, "placeholder" => "Age", :size => 60 %>
  </fieldset>

  <fieldset class="form-group">
    <%= g.label :image %> <br>
    <%= g.text_field :image, "placeholder" => "Paste Image URL", :size => 60 %>
  </fieldset>

  <fieldset class="form-group">
    <%= g.label :talent %> <br>
    <%= g.text_field :talent, "placeholder" => "List of Talents", :size => 60 %>
  </fieldset>

  <fieldset class="form-group">
    <%= g.label :influences %> <br>
    <%= g.text_field :influences, "placeholder" => "Name of Bands", :size => 60 %>
  </fieldset>

  <fieldset class="form-group">
    <%= g.label :experience %> <br>
    <%= g.text_field :experience, "placeholder" => "Skill Level, i.e. Beginnier, Intermediate, Advanced", :size => 60 %>
  </fieldset>

   <fieldset class="form-group">
    <%= g.label :location %> <br>
    <%= g.text_field :location, "placeholder" => "City", :size => 60 %>
  </fieldset>

   <fieldset class="form-group">
    <%= g.label :email %> <br>
    <%= g.text_field :email, "placeholder" => "Email", :size => 60 %>
  </fieldset>


  <%= g.submit "Update Profile", "class" => "btn btn-success btn-xs" %>



  <% end %>
</form>
