
<div class="index">
<br>
<h1>Welcome to JamSessions!</h1>
<br><br><br><br><br>
<p>Find a jam mate near you!</p>
<br><br><br><br><br><br><br><br>
<br>
<% flash.each do |key,value| %>
  <div class="<%= key %>" > <%= value %> </div>
<% end %>


<% if @current_user %>

  <%= link_to destroy_session_path, :class => "btn btn-danger btn-xs" do %>
  <i class="glyphicon glyphicon-volume-off"> Logout</i>
  <% end %>


<% else %>

<button type="button" class="btn btn-success btn-xs glyphicon glyphicon-headphones" data-toggle="modal" data-target="#loginModal"> User Login</button>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="myModalLabel">Login</h5>
      </div>
      <div class="modal-body">
      <%= form_for :user, url: create_session_path do |u| %>
<div class="login1">
<h1>Get yo Credentials Inputted!</h1>
<% flash.each do |key,value| %>
  <div class="<%= key %>"><%= value%></div>
  <%end%>



  <%= u.label :email %>
  <br>
  <%= u.email_field :email %>

  <br>

  <%= u.label :password %>
  <br>
  <%= u.password_field :password %>


  <br>
  <br>
  <%= u.submit "Login", "class" => "btn btn-success btn"  %>

  <%end%>
<br>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




  <br>
  <br>

<button id="resgisterModal" type="button" class="btn btn-info btn-xs glyphicon glyphicon-music" data-toggle="modal" data-target="#registerModal"> Register</button>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="myModalLabel">Register</h5>
      </div>
      <div class="modal-body">
<div class="login">
<%= form_for :user do |u| %>

<% flash.each do |key,value| %>
  <div class="<%= key %>"><%= value%></div>
  <%end%>



  <%= u.label :email %>
  <br>
  <%= u.email_field :email %>

<br>

  <%= u.label :password %>
  <br>
  <%= u.password_field :password %>

<br>

  <%= u.label :password_confirmation, "Confirmation" %>
  <br>
  <%= u.password_field :password_confirmation %>

<br>
<br>

  <%= u.submit "Signup", "class" => "btn btn-success btn"  %>

  <%end%>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

  <%end%>
<br>
<!-- <img src="http://images3.alphacoders.com/250/25007.jpg"> -->

</div>

