<%= form_for @user do |u| %>

<% flash.each do |key,value| %>
  <div class="<%= key %>"><%= value%></div>
  <%end%>



  <%= u.label :email %>
  <br>
  <%= u.email_field :email %>

<br>

  <%= u.label :password %>
  <br>
  <%= u.password_field :password %>

<br>

  <%= u.label :password_confirmation, "Confirmation" %>
  <br>
  <%= u.password_field :password_confirmation %>

<br>
<br>

  <%= u.submit "Signup", "class" => "btn btn-success btn"  %>

  <%end%>
