<%= render "layouts/header" %>

<div class="container">

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>Welcome <%= @user.name %>!</h3> <hr/>

<ul class="nav nav-tabs">
    <li><a href="#tab1" data-toggle="tab">Profile</a></li>
    <li><a href="#tab2" data-toggle="tab">Sessions</a></li>
    <li><a href="#tab3" data-toggle="tab">Search Sessions</a></li>
    <li><a href="#tab4" data-toggle="tab">Search Members</a></li>
</ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab1">

            <%= form_for @user do |f| %>
            <img style="height: 200px;" src="<%= @user.image %>">
            <p><%= f.label :name %><br><%= @user.name %></p>
            <p><%= f.label :age %><br><%= @user.age %></p>
            <p><%= f.label :talent %><br><%= @user.talent %></p>
            <p><%= f.label :experience %><br><%= @user.experience %></p>
            <p><%= f.label :influences %><br><%= @user.influences %></p>
            <p><%= f.label :location %><br><%= @user.location %></p>
            <p><%= f.label :email %><br><%= @user.email %></p>

            <button type="button" class="btn btn-info btn-xs"><%= link_to "Edit Profile", edit_user_path %></button>

            <% end %>
        </div>

        <div class="tab-pane" id="tab2">
        <br>

        <!-- show user created sessions, and participating sessions, and add edit here -->
            <h3>Potential Sessions</h3>
              <div id="sessionTable">
              <div class="table-responsive">
              <table class="table table-hover">
                <tr>
                  <th><%= link_to " ", users_sort_path(sort_by: "name") %></th>
                  <th><%= link_to "Seeking", jams_sort_path(sort_by: "seeking") %></th>
                  <th><%= link_to "Location", jams_sort_path(sort_by: "location") %></th>
                  <th><%= link_to "Date", jams_sort_path(sort_by: "date") %></th>
                  <th><%= link_to "Time", jams_sort_path(sort_by: "time") %></th>
                </tr>
                <% @jams.each do |jam| %>
                <tr>
                  <td>
                    <%= link_to image_tag(@user.image), jam_path, class: "pic" %>
                  </td>
                  <td><%= jam.seeking %></td>
                  <td><%= jam.location %></td>
                  <td><%= jam.date %></td>
                  <td><%= jam.time %></td>
                </tr>
                <%end%>
              </table>
            </div>
          </div>


         <%= link_to new_jam_path, class: "createSession" do %>
         <i class="glyphicon glyphicon-music"> Create New Session</i>
         <% end %>

        </div>

        <div class="tab-pane" id="tab3">
        <h3><%= link_to 'Search for Sessions', jam_search_path %></h3>
        </div>

        <div class="tab-pane" id="tab4">
          <h3><%= link_to 'Search for Jammates', search_path %></h3>
        </div>

    </div>

    </div>
  </div>
</div>


</div>

<br>


