<%= render "layouts/header" %>
<div class="container">
<h3 style="color: black;">Edit Jam Session</h3>
<br>
  <%= form_for @jam do |f| %>
    <form>


           <fieldset class="form-group">
              <%= f.label :seeking, class: "titles"  %> <br>
              <%= f.text_field :seeking, "placeholder" => "i.e. Drums, Bass Guitar, Vocalist, etc.", :size => 60  %>
           </fieldset>


           <fieldset class="form-group">
              <%= f.label :description, class: "titles"  %> <br>
              <%= f.text_field :description, "placeholder" => "Rundown of your JamSession", :size => "60x60"  %>
           </fieldset>


           <fieldset class="form-group">
              <%= f.label :location, class: "titles"  %> <br>
              <%= f.text_field :location, "placeholder" => "City", :size => 60  %>
           </fieldset>


           <fieldset class="form-group">
              <%= f.label :date, class: "titles" %> <br>
              <%= f.text_field :date, "placeholder" => "Date of Session", :size => 60  %>
           </fieldset>


           <fieldset class="form-group">
              <%= f.label :time, class: "titles" %> <br>
              <%= f.text_field :time, "placeholder" => "Time of Session", :size => 60  %>
           </fieldset>


    <%= f.submit "Update Session", "class" => "btn btn-success btn-xs" %>


    <% end %>

    </form>

    </div>
<%= render "layouts/footer" %>
