<%= render "layouts/header" %>
<div class="container">
<h3>Session</h3>
<br>

    <div class="row">
        <div class="col-md-4">
            <%= form_for @jam do |f| %>
            <img style="height: 250px;" src="<%= @jam.user.image %>">
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<button type="button" class="btn btn-success btn-xs"><%= link_to "View Profile", user_path(@jam.user) %></button><br><br>
        </div>
        <div class="col-md-8">
            <p><%= f.label :seeking, class: "titles" %><br><%= @jam.seeking %></p>
            <p><%= f.label :description, class: "titles"  %><br><%= @jam.description %></p>
            <p><%= f.label :location, class: "titles"  %><br><%= @jam.location %></p>
            <p><%= f.label :date, class: "titles"  %><br><%= @jam.date %></p>
            <p><%= f.label :time, class: "titles"  %><br><%= @jam.time %></p>
        </div>
    </div>


    <br>
    <% if @jam.user == current_user %>
    <br>
    <%= link_to "Edit Session", edit_jam_path %><br>

    <%= link_to "Erase Session", jam_path, method: :delete %>

    <% end %>
    <% end %>


<br><br>
<h3 id="commenting">Comments</h3>
<div id="comments">
    <div class="table-responsive">
    <table class="table comments">

        <% @comments.each do |comment| %>

        <tr>
            <td> <%= link_to image_tag(comment.user.image), user_path(comment.user), class: "pic" %>
            </td>
            <td><%= comment.content %></td>
            <td>
            <% if comment.user == current_user %>
            <%= link_to "Delete", destroy_comment_path(comment), method: :delete %>
            <% end %>
            </td>
        </tr>

        <%end%>
    </table>
    </div>
    </div>


<br>


<%= link_to new_comment_path class: "createSession" do %>
<i class="glyphicon glyphicon-pencil">Add Comment</i>
<%end%>

</div>
<br>
<%= render "layouts/footer" %>
