<div class="container">
<h1>Session</h1>

            <%= form_for @jam do |f| %>
            <img style="height: 200px;" src="<%= @jam.user.image %>">
            <p><%= f.label :seeking %><br><%= @jam.seeking %></p>
            <p><%= f.label :description %><br><%= @jam.description %></p>
            <p><%= f.label :location %><br><%= @jam.location %></p>
            <p><%= f.label :date %><br><%= @jam.date %></p>
            <p><%= f.label :time %><br><%= @jam.time %></p>



    <button type="button" class="btn btn-success btn-xs"><%= link_to "View Profile", user_path(@jam.user) %></button>

    <button type="button" class="btn btn-info btn-xs"><%= link_to "Edit Session", edit_jam_path %></button>

    <button type="button" class="btn btn-danger btn-xs"><%= link_to "Erase Session", jam_path, method: :delete %></button>

    <% end %>




<h3>Comments</h3>
<div id="comments">
    <div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>Click Me</th>
            <th>comments</th>
        </tr>
        <% @comments.each do |comment| %>
        <tr>
            <td> <%= link_to image_tag(comment.user.image), user_path(comment.user), class: "pic" %>
            </td>
            <td><%= comment.content %></td>
            <% if comment.user == current_user %>
            <td><%= link_to "Delete", destroy_comment_path(comment), method: :delete %></td>
            <% end %>
        </tr>
        <%end%>
    </table>
    </div>
    </div>


<br>


<%= link_to new_comment_path class: "createSession" do %>
<i class="glyphicon glyphicon-pencil">Add Comment</i>
<%end%>

</div>
<br>

